/* Most Common Used Break Points _ 1366px _ 1024px _ 768px _ 568px */
/* Custom Break Points as per Website/Layout Needs _ 1160px _ 900px _ 625px _600px*/

/*#############################################################################*/
/*################################$(1366px)$###################################*/
/*#############################################################################*/
@media (max-width: 1366px) {
	/* Container */
	.container {
		max-width: 1215px;
	}
	/* Makes Us Different Section */
	.card-heading {
		font-size: 2rem;
	}
}
/*#############################################################################*/
/*################################$(1160px)$###################################*/
/*#############################################################################*/
@media (max-width: 1160px) {
	/* Container */
	.container {
		max-width: 1030px;
	}
	/* Hero Section */
	.hero-section-text-1,
	.hero-section-text-2 {
		flex: 2;
		font-size: 2.8rem;
	}
	.hero-section-text-1 {
		margin-left: 3rem;
	}
	.hero-section-text-2 {
		margin-right: 3rem;
	}
	/* Packages Section */
	.package-text {
		font-size: 1.4rem;
	}
	.packages-card:not(:first-of-type) {
		margin-left: 1rem;
	}
	/* Footer Section */
	.footer-social-link {
		margin-left: 2.5rem;
	}
}
/*#############################################################################*/
/*################################$(1024px)$###################################*/
/*#############################################################################*/
@media (max-width: 1024px) {
	/* Container */
	.container {
		max-width: 910px;
	}
	/* Logo Bar Section */
	.logobar-maintext {
		font-size: 2.8rem;
	}
	.btn-main-1:link,
	.btn-main-1:visited {
		font-size: 1.8rem;
		padding: 1.1rem 2.4rem;
	}
	/* Nav Section */
	.navbar-link:link,
	.navbar-link:visited {
		font-size: 1.7rem;
		letter-spacing: 1px;
	}
	/* Hero Section */
	.hero-section-text-1,
	.hero-section-text-2 {
		font-size: 2.5rem;
	}
	/* Easy Enrollment Section */
	.enrollment-card:not(:first-of-type) {
		margin-left: 2rem;
	}
	.enrollment-card {
		padding: 0rem;
	}
	/* Quote Section */
	.section-quote {
		padding: 15rem 0rem 15rem 8rem;
		background-image: linear-gradient(
				to right,
				rgba(0, 77, 115, 0.9),
				rgba(0, 77, 115, 0.7)
			),
			url(../images/10-choice.jpg);
	}
	/* Footer Section */
	.footer-mail-icon {
		font-size: 3rem;
	}
	.footer-social-link {
		margin-left: 2rem;
	}
	.footer-contact-text {
		font-size: 1.6rem;
	}
}
/*#############################################################################*/
/*################################$(900px)$###################################*/
/*#############################################################################*/
@media (max-width: 900px) {
	/* Container */
	.container {
		max-width: 800px;
	}
	/* Logo Bar Section */
	.logobar-maintext {
		font-size: 2.7rem;
	}
	/* Nav Section */
	.navbar-link:link,
	.navbar-link:visited {
		font-size: 1.4rem;
		letter-spacing: 1px;
	}
	/* Hero Section */
	.hero-section .spacer {
		display: none;
	}
	/* Easy Enrollment Section */
	.enrollment-div {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.logo-car-img {
		width: 30rem;
	}
	.enrollment-card:not(:first-of-type) {
		margin-left: 0rem;
		margin-top: 5rem;
	}
	.enrollment-card {
		padding: 0rem 0rem 3rem 0rem;
		width: 90%;
	}
	.enrollment-card:nth-of-type(3) {
		padding: 0rem 5rem 3rem 5rem;
	}
	.enrollment-card:nth-of-type(4) {
		padding: 0rem 5rem 3rem 5rem;
	}
	.enrollment-card .card-heading {
		font-size: 2.5rem;
		font-weight: 500;
		letter-spacing: 2px;
	}
	.card-icon-img {
		height: 8rem;
	}
	.card-text {
		font-size: 2.2rem;
		font-weight: 300;
		margin-top: 2rem;
	}
	/* Makes Us Different Section */
	.section-different {
		padding: 2rem 0rem 10rem 0rem;
	}
	.section-different-heading {
		font-size: 3rem;
	}
	.different-div-icons {
		flex-direction: column;
	}
	.icons-card:not(:last-of-type) {
		border-bottom: 1px solid var(--Primary-1);
		border-right: none;
	}
	.icons-card {
		margin-top: 3rem;
	}
	/* Key Numbers Section */
	.section-numbers {
		padding: 2rem 0rem 10rem 0rem;
	}
	.numbers-div {
		flex-direction: column;
	}
	.numbers-card {
		border-bottom: 1px solid var(--Primary-1);
	}
	.numbertext {
		font-size: 9rem;
	}
	.numbertext span {
		font-size: 3rem;
	}
	/* Packages Section */
	.packages-div {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.packages-car-img {
		width: 30rem;
	}
	.packages-card:not(:first-of-type) {
		margin-left: 0rem;
		margin-top: 5rem;
	}
	.packages-card {
		padding: 0rem 0rem 3rem 0rem;
		width: 90%;
	}
	.package-heading {
		font-size: 2.5rem;
		letter-spacing: 2px;
	}
	.package-text {
		font-size: 2.2rem;
	}
	.package-unique-text {
		font-weight: 400;
	}
	/* Contact Us Form Section */
	.section-contact {
		padding: 2rem 0rem 10rem 0rem;
	}
	.form-div {
		width: 90%;
	}
	/* Footer Section */
	.footer-mail-icon {
		font-size: 2rem;
	}
	.footer-social-link {
		margin-left: 1.5rem;
	}
	.footer-contact-text {
		font-size: 1.5rem;
	}
}
/*#############################################################################*/
/*################################$(768px)$###################################*/
/*#############################################################################*/
@media (max-width: 768px) {
	/* Container */
	.container {
		max-width: 680px;
	}
	/* Logo Bar Section */
	.logobar-maintext {
		font-size: 2.2rem;
	}
	.btn-main-1:link,
	.btn-main-1:visited {
		font-size: 1.6rem;
		padding: 1rem 2rem;
	}
	/* Nav Section */
	.navbar-links {
		display: none;
	}
	.navbar-menu-button {
		display: block;
		flex: 1;
		color: #d3f4ff;
		font-size: 1.6rem;
		padding: 1.5rem;
		text-align: right;
	}
	.menu-label {
		position: relative;
	}
	.menu-label::after {
		content: "Menu";
		display: inline-block;
		position: absolute;
		right: 0;
		z-index: 10;
	}
	.menu-label {
		cursor: pointer;
	}
	.menu-checkbox:checked + .menu-label::after {
		content: "X";
		font-size: 2rem;
		position: fixed;
		right: 2rem;
	}
	.menu-checkbox:checked ~ .menu-div {
		visibility: visible;
		opacity: 1;
	}
	.menu-div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	.menu-div a {
		margin: 0 5rem 0 5rem;
	}
	.navbar-link:link,
	.navbar-link:visited {
		font-size: 1.8rem;
		letter-spacing: 2px;
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		-o-transition: all 0.3s;
		border: 1px solid transparent;
	}
	.navbar-link:hover {
		background-color: var(--Secondary-1);
		color: var(--Secondary-3);
		border-radius: 2px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		-ms-border-radius: 2px;
		-o-border-radius: 2px;
		border: 0.5px solid var(--Secondary-2);
	}
	/* Hero Section */
	.hero-section-text-1 {
		margin-left: 0rem;
	}
	.hero-section-text-2 {
		margin-right: 0rem;
	}
	/* Quote Section */
	.section-quote {
		padding: 12rem 0rem 12rem 5rem;
	}
	/* Footer Section */
	.footer-contact-text {
		font-size: 1.7rem;
	}
	.footer-contact-text:nth-of-type(1),
	.footer-contact-text:nth-of-type(3) {
		display: none;
	}
}
/*#############################################################################*/
/*################################$(625px)$###################################*/
/*#############################################################################*/
@media (max-width: 625px) {
	/* Container */
	.container {
		max-width: 555px;
	}
	/* Logo Bar Section */
	.logobar-div:nth-child(2) {
		display: none;
	}
	/* Hero Section */
	.hero-section-text-1,
	.hero-section-text-2 {
		font-size: 2.2rem;
	}
	/* Easy Enrollment Section */
	.enrollment-card .card-heading {
		font-size: 2.2rem;
	}
	.logo-car-img {
		width: 25rem;
	}
	.enrollment-section-heading {
		font-size: 3.5rem;
	}
	/* Makes Us Different Section */
	.section-different-heading {
		font-size: 2.8rem;
	}
	/* Packages Section */
	.packages-car-img {
		width: 25rem;
	}
	.packages-heading {
		font-size: 3.5rem;
	}
}
/*#############################################################################*/
/*################################$(600px)$###################################*/
/*#############################################################################*/
@media (max-width: 600px) {
	/* Container */
	.container {
		max-width: 535px;
	}
}
/*#############################################################################*/
/*################################$(568px)$###################################*/
/*#############################################################################*/
@media (max-width: 568px) {
	/* Container */
	.container {
		max-width: 505px;
	}
	/* Hero Section */
	.hero-section-text-1,
	.hero-section-text-2 {
		font-size: 2rem;
	}
	/* Makes Us Different Section */
	.section-different-heading {
		font-size: 2.6rem;
	}
	/* Contact Us Form Section */
	.form-div {
		width: 95%;
	}
	.footer-icon-text {
		font-size: 1.2rem;
	}
}
/*#############################################################################*/
/*################################$(500px)$###################################*/
/*#############################################################################*/
@media (max-width: 500px) {
	/* Container */
	.container {
		max-width: 450px;
	}
	/* Logo Bar Section */
	.logo-img {
		height: 5rem;
	}
	.btn-main-1:link,
	.btn-main-1:visited {
		font-size: 1.5rem;
	}
	/* Hero Section */
	.hero-section-text-1,
	.hero-section-text-2 {
		font-size: 1.8rem;
		letter-spacing: 1px;
	}
	/* Easy Enrollment Section */
	.logo-car-img {
		width: 20rem;
	}
	@keyframes car {
		0% {
			transform: translateX(-8rem) scale(0.9);
			-webkit-transform: translateX(-8rem) scale(0.9);
			-moz-transform: translateX(-8rem) scale(0.9);
			-ms-transform: translateX(-8rem) scale(0.9);
			-o-transform: translateX(-8rem) scale(0.9);
		}
		100% {
			transform: translateX(7rem) scale(1);
			-webkit-transform: translateX(7rem) scale(1);
			-moz-transform: translateX(7rem) scale(1);
			-ms-transform: translateX(7rem) scale(1);
			-o-transform: translateX(7rem) scale(1);
		}
	}
	.enrollment-section-heading {
		font-size: 2.5rem;
		margin: 1rem 1rem;
	}
	.enrollment-card .card-heading {
		font-size: 2.3rem;
	}
	.card-icon-img {
		height: 7rem;
	}
	.card-text {
		font-size: 2rem;
	}
	/* Makes Us Different Section */
	.section-different-heading {
		font-size: 2rem;
		margin: 1rem 0.5rem;
	}
	/* Quote Section */
	.section-quote {
		padding: 10rem 4rem 10rem 4rem;
	}
	.quote-heading {
		letter-spacing: 1px;
	}
	/* Packages Section */
	.packages-car-img {
		width: 20rem;
	}
	@keyframes packages-car {
		0% {
			transform: translateX(-4rem) scale(0.9);
			-webkit-transform: translateX(-4rem) scale(0.9);
			-moz-transform: translateX(-4rem) scale(0.9);
			-ms-transform: translateX(-4rem) scale(0.9);
			-o-transform: translateX(-4rem) scale(0.9);
		}
		100% {
			transform: translateX(3rem) scale(1);
			-webkit-transform: translateX(3rem) scale(1);
			-moz-transform: translateX(3rem) scale(1);
			-ms-transform: translateX(3rem) scale(1);
			-o-transform: translateX(3rem) scale(1);
		}
	}
	.packages-heading {
		font-size: 3rem;
	}
	.package-text {
		font-size: 2rem;
	}
	/* Contact Us Form Section */
	.form-div {
		width: 100%;
	}
	.footer-icon-text {
		font-size: 1.1rem;
	}
	.footer-contact-text:nth-of-type(2) {
		font-size: 1.5rem;
	}
}
